{% load static %}
<div class = "panel panel-primary">
   <div class = "panel-heading">
   <a href = "/home/"><img src = "{% static "home.png" %}" alt = "HOME" width = "30" height = "30" border = "0"/></a>
      <i><strong><font size = "5" face = "verdana">CFORUMS</font></strong></i>
         <a href = "/logout/"><i><strong><font size = "5" face = "verdana"><img src = "{% static "logout.jpg" %}" alt = "Login" width = "120" height = "50" align = "right"/></font></strong></i></a></div>
<center><h1> UploadPostings</h1></center>
<form role = 'form' action="Submits/" method = 'post' enctype="multipart/form-data" >
{%csrf_token %}
<center>{{form.as_p}}
<button type="submit">Submit</button>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</center>  
</form>
